In [2]:
import pandas as pd

In [14]:
camping = pd.DataFrame()
for i in [2020,2021,2022]:
    if i != 2022:
        for j in [01,02,03,04,05,06,07,08,09,10,11,12]:
            df = pd.read_excel(f'C:/Users/kjk42/Documents/Python Scripts/done/data/data_lab/{i}{j}.xlsx')
            df['date'] = i+'-'+j
            camping = pd.concat(camping,df[df['소분류 카테고리'] =='캠핑'])
    else:
        for j in [01,02,03,04,05,06,07,08,09,10,11,12]:
            df = pd.read_excel(f'C:/Users/kjk42/Documents/Python Scripts/done/data/data_lab/{i}{j}.xlsx')
            df['date'] = i+'-'+j
            camping = pd.concat(camping,df[df['소분류 카테고리'] =='캠핑'])

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (403706967.py, line 4)

In [9]:
df['date'] = 2022

In [10]:
df

,순위,관광지명,광역시/도,시/군/구,도로명주소,중분류 카테고리,소분류 카테고리,검색건수,date
0,1,곤지암리조트,경기도,광주시,경기 광주시 도척윗로 278-0,숙박,콘도미니엄,35228,2022
1,2,웰리힐리파크,강원도,횡성군,강원 횡성군 고원로 451-0,숙박,콘도미니엄,17558,2022
2,3,쏠비치삼척,강원도,삼척시,강원 삼척시 수로부인길 453-0,숙박,콘도미니엄,16887,2022
3,4,하이원리조트,강원도,정선군,강원 정선군 하이원길 424-0,숙박,콘도미니엄,16493,2022
4,5,대명리조트비발디파크,강원도,홍천군,강원 홍천군 한치골길 262-0,숙박,콘도미니엄,16145,2022
...,...,...,...,...,...,...,...,...,...
495,496,웨스턴그레이스호텔제주,제주특별자치도,서귀포시,제주 서귀포시 김정문화로27번길 9-7,숙박,호텔,970,2022
496,497,홀리데이인앤스위트알펜시아평창,강원도,평창군,강원 평창군 솔봉로 325-0,숙박,콘도미니엄,962,2022
497,498,호텔뉴브,서울특별시,강남구,서울 강남구 선릉로85길 6-0,숙박,호텔,961,2022
498,499,스테이인터뷰,강원도,강릉시,강원 강릉시 율곡로 1458-0,숙박,펜션/민박,960,2022
499,499,오리엔트리조트,강원도,평창군,강원 평창군 태기로 80-56,숙박,콘도미니엄,960,2022